name = "BayesianOptimization"
uuid = "4c6ed407-134f-591c-93fa-e0f7c164a0ec"
authors = ["Johanni Brea <jbrea@users.noreply.github.com>"]
version = "0.2.3"

[deps]
Dates = "ade2ca70-3891-5945-98fb-dc099432e06a"
DiffResults = "163ba53b-c6d8-5494-b064-1a9d43ac40c5"
ElasticArrays = "fdbdab4c-e67f-52f5-8c3f-e7b388dad3d4"
ForwardDiff = "f6369f11-7733-5829-9624-2563aa707210"
GaussianProcesses = "891a1506-143c-57d2-908e-e1f8e92e6de9"
NLopt = "76087f3c-5699-56af-9a33-bf431cd00edd"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
Sobol = "ed01d8cd-4d21-5b2a-85b4-cc3bdc58bad4"
SpecialFunctions = "276daf66-3868-5448-9aa4-cd146d93841b"
TimerOutputs = "a759f4b9-e2f1-59dc-863e-4aeb61b1ea8f"

[compat]
DiffResults = "0.0.4, 1"
ElasticArrays = "0.3, 0.4, 1"
ForwardDiff = "0.9, 0.10"
GaussianProcesses = "0.9, 0.10, 0.11, 0.12"
NLopt = "0.4, 0.5, 0.6"
Sobol = "1"
SpecialFunctions = "0.7, 0.8, 0.9, 0.10"
TimerOutputs = "0.5"
julia = "1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
